# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# Logs
logs/*.log

# SQLite
*.db
*.sqlite3

# Environment Variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Python Cache
.pytest_cache/
.mypy_cache/

# Build
build/
dist/
*.egg-info/

# IDE
.idea/